.mat-dialog-title {
  margin-bottom: 0;
}
.list-exec{
    max-width: 500px;
}
.exec-item{
    width: 95%;
}
.alert-primary.light {
  background-color: #de7d12;
  padding: 10px;
  margin: 5px;
}
.alert-primary.alert-border-left {
  border-left: 5px solid #5a3207;
}
.alert-primary.light {
  color: #ffffff;
}
.alert-primary.success {
  background-color: #599859;
}

.alert-primary.danger {
  background-color: #da5a51;
}
.title-text{
    font-size: 16px;
    font-weight: bold;
}
